body {
    text-align: center;
    background: linear-gradient(to bottom, #87CEEB, #ffffff);
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 10px;
}

canvas {
    background-color: #70c5ce;
    display: block;
    margin: 20px auto;
    border: 3px solid #000;
}
