body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
}

canvas {
    border: 3px solid black;
    background: #70c5ce;
}

